<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mappers.matchBoardMapper">
	<resultMap type="com.yi.domain.MatchBoardVO" id="resultMatchBoard">
		<id column="mb_no" property="mbNo"/>
		<result column="mb_team_count" property="mbTeamCount"/>
		<result column="mb_match_form" property="mbMatchForm"/>
		<result column="mb_application" property="mbApplication"/>
		<result column="mb_regdate" property="mbRegdate"/>
		<result column="mb_enddate" property="mbEnddate"/>
		<result column="mb_context" property="mbContext"/>
		<result column="mb_time" property="mbTime"/>
		<result column="mb_level" property="mbLevel"/>
	</resultMap>
	
	<resultMap type="com.yi.domain.MatchBoardVO" id="resultMatchBoardByKcm" extends="resultMatchBoard">
		<association property="mbMember" resultMap="com.yi.mappers.memberMapper.memberResult"></association>
		<association property="mbGno" resultMap="com.yi.mappers.groundMapper.resultGroundByKcm"></association>
	</resultMap>
	
	
	<!-- 매치 게시판 등록-->
	<insert id="insertMatch" parameterType="com.yi.domain.MatchBoardVO">
		insert into match_board(mb_match_form,mb_application,mb_regdate,mb_context,mb_member,mb_gno,mb_time,mb_level) values (#{mbMatchForm},1,now(),#{mbContext},#{mbMember.mId},#{mbGno.gNo},#{mbTime},#{mbLevel})
	</insert>
	
	
		<sql id="search">
		<if test="searchType=='t'.toString()">
			where s_name like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			where m_name like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='f'.toString()">
			where mb_match_form like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	
	
	<!-- 매치 게시판 전체 리스트 (페이징) -->
	<select id="selectByAll" parameterType="SearchCriteria"  resultMap="resultMatchBoardByKcm">
		select mb_no, mb_match_form, mb_application, mb_regdate, mb_enddate, mb_context, mb_member, mb_time, mb_level,g_no, g_name, g_price, g_time,s_no, s_name, s_addr, m_id, m_name,m_tel from match_board left join ground on match_board.mb_gno = ground.g_no left join spot on ground.g_sno = spot.s_no left join member on match_board.mb_member = member.m_id <include refid="search"></include> order by mb_no desc limit #{pageStart}, #{perPageNum} 
	</select> 
	<!-- 매치 게시판 전체 리스트  -->
	<select id="selectByAll2"  resultMap="resultMatchBoardByKcm">
		select mb_no, mb_match_form, mb_application, mb_regdate, mb_enddate, mb_context, mb_member, mb_time, mb_level,g_no, g_name, g_price, g_time,s_no, s_name, s_addr, m_id, m_name,m_tel from match_board left join ground on match_board.mb_gno = ground.g_no left join spot on ground.g_sno = spot.s_no left join member on match_board.mb_member = member.m_id order by mb_no desc  
	</select> 
	
	<!-- 마감한 경우 -->
	<update id="updateDeadLine" parameterType="int">
		UPDATE match_board SET mb_application=0,mb_enddate=now() WHERE mb_no=#{mbNo};
	</update>
	
	<!-- 매치게시판 수정 -->
	<update id="updateMatchBoard" parameterType="MatchBoardVo">
	UPDATE match_board
	SET mb_match_form=#{mbMatchForm}, mb_application=#{mbApplication}, mb_context=#{mbContext},  mb_gno=#{mbGno.gNo}, mb_time=#{mbTime}, mb_level=#{mbLevel}
	WHERE mb_no=#{mbNo};
	</update>
	
	<!-- 오늘날짜 지나면 자동 마감 처리 -->
	<update id="updateApplication">
	<![CDATA[	update match_board set mb_application = 0 where substring(mb_time,1,10) < date_format(now(),'%Y-%m-%d') ]]> 
	</update>
</mapper>